<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.jmeter" level="TRACE"/>
        <Logger name="org.apache.http.entity" level="TRACE"/>
        <logger name="us.abstracta.jmeter.javadsl.http" level="TRACE"/>
    </Loggers>
</Configuration>